.content {
    position: fixed;
    display: flex;
    width: 100%;
    top: 64px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-nav {
    height: 64px;
    line-height: 64px;
}

.nav-item {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0px 8px 0px 8px;
}

.nav-item:hover, .nav-item.selected {
    color: gold;
}

a:visited {
    color: inherit;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
}

.comment {
    cursor: pointer;
}

.comment-input {
    resize: none;
}

.comment {
    font-size: 16px;
    color: #dddddd;
}

.sticky {
    position: sticky;
}

.comment.active {
    color: initial;
}

.comment.active .comment-content {
    font-size: 30px;
    transition: all 0.1s ease;
}

#comments-container {
    min-width: 30%;
    padding: 32px 0px 32px 0px;
    max-height: 256px;
    margin: 0px 16px 0px 16px;
    overflow-y: scroll;
    flex-direction: column;
}

#empty-comments {
    margin: auto;
    text-align: center;
}

#player-container {
    margin: 16px;
}

@media(min-width: 1024px) {
    .content {
        flex-direction: row-reverse;
    }
    .app-nav {
        top: 0;
        font-size: 22px;
    }
    #comments-container {
        width: 30%;
    }
}