@import url('https://fonts.googleapis.com/css?family=Staatliches');

body, input, textarea, select, button, h1 {
    font-family: 'Staatliches', cursive;
    color: #212121;
}

html, body {
    height: 100%;
    display: block;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    text-decoration: none;
}

h2 {
    color: #263238;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.logo {
    height: 8em;
}

.form-input {
    width: 100%;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px dashed #6B73FF;
}

.form-input.error {
    border-color: red;
}

.form-input:focus {
    border-bottom: 2px dashed #000DFF;
}

.form-button {
    color: white;
    cursor: pointer;
    margin-top: 8px;
    font-size: 18px;
    height: 3em;
    width: 100%;
    border: none;
    background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
}

.form-button:hover {
    background-image: linear-gradient(135deg, #6B73FF 50%, #000DFF 100%);
}

.tooltip-container .tooltip {
    visibility: hidden;
    padding: 8px;
    max-width: 20%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 1;
    transition: left 300ms linear;
}

.tooltip-container.when-focused:focus-within .tooltip {
    visibility: visible;
}

.tooltip-container.when-hovered:hover .tooltip {
    visibility: visible;
}